
blogHeader{
    font-size: medium;
}


.index-main{
    max-width: none !important;
    padding: 0 0 1rem 0 !important;
}
/*
index 图片展示区
*/
.img-group{

}
.img-container{

    width: 100%;
    height: 50vw;
    overflow: hidden;
    
}

.img-container .img-item{
    background-size: cover;
    background-repeat: round;
    width: 100vw;
    height: 100%;
}


.img-container .img-item.first{
    background-image: url("./../img/index-showing_0.png");
}
/*
    index 中间代码链接区
*/
.text-code-group{
    width: 100%;
    padding-top: 45px;
}

.text-code-group .code-link{
    display: inline-block;
    width: 100%;
}
.text-code-group .code-key{
    width: 200px;
    overflow: hidden;
    display: inline-block;
    text-align: right;
}
.text-code-group .code-value{
    width: 400px;
    display: inline-block;
    text-align:left;
    overflow: hidden; 
}
.text-code-group a{
    color: #1b1e21;
}

/*
index 网站链接区
*/
.record-group{
    padding: 30px 30px 0px 30px ;
}

/*
index 终端适配区
*/
@media (min-width: 1200px) {
    .img-container{
        height: 30vw;
    }
    .record-group .card-columns{
        width: 60vw;
        margin: 0 auto;
    }

}

@media (min-width: 768px) {

}

@media (max-width: 768px) {
    .img-container{
        height: 50vw;
    }

    .text-code-group .code-key{
        display: none;
    }
    .text-code-group .code-value{
        width: auto;
    }

    .record-group{
        padding: 30px 10px 0px 10px ;
    }

}



footer{
    padding-bottom: 0.5rem;
}



